.progresbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #333;
    z-index: 4;
}

.currentprogres {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 4px;
    background: #235eff;
    z-index: 5;
    transition: transform .5s linear;
}

BODY {
    background:#666;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

ARTICLE {
    position: fixed;
    top: 4px;
    background: #333;
    width: 96%;
    bottom: 0;
    padding: 2%;
    transition: transform .5s linear;
    overflow: auto;
}

.btnPageBlock {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    user-select: none;
}

.btnPageBlock span {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.btnPagePrev {
    position: absolute;
    top: 0;
    left: 20%;
    width: 10rem;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
}

.btnPagePrevAdd {
    position: absolute;
    top: 0;
    left: 20%;
    width: 10rem;
    height: 45px;
    background: #e3e3e3;
    border-radius: 8px;
    transition: left .2s linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.btnPagePrev:hover ~ .btnPagePrevAdd{
    left: Calc(20% - 40px);
    cursor: pointer;
}

.btnPagePrevAdd span {
    position: relative;
    top: -3px;
    left: 6px;
    font-size: 48px;
}

.btnPageNext {
    position: absolute;
    top: 0;
    right: 20%;
    width: 10rem;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
}

.btnPageNextAdd {
    position: absolute;
    top: 0;
    right: 20%;
    width: 10rem;
    height: 45px;
    background: #e3e3e3;
    border-radius: 8px;
    transition: right .2s linear;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.btnPageNext:hover ~ .btnPageNextAdd{
    right: Calc(20% - 40px);
    cursor: pointer;
}

.btnPageNextAdd span {
    position: relative;
    top: -3px;
    right: 6px;
    font-size: 48px;
}

#Ar1 {
    left: 0%;
}

.flexBox {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entryName {
    position: relative;
    width: 100%;
    min-height: 90px;
    background: #fff;
    margin: 0 0 20px 0;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryName span {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-align: center;
}

.entryBtns {
    position: relative;
    width: 100%;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryBtnsBlock {
    position: relative;
    max-width: 1100px;
    width: 100%;
    height: 640px;
}

.entryBtns span {
    position: relative;
    font-size: 80px;
    font-weight: 900;
    color: #333;
    filter: none;
}

.entryBtn {
    position: relative;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.entryBtn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.5;
    transition: opacity .3s;
}

.entryBtn:nth-child(1){
    background: url(project_img/0-1.jpg) center center no-repeat;
    background-position: 50% 26%;
    background-size: 100%;
    
}

.entryBtn:nth-child(2){
    background: url(project_img/0-2.jpg) center center no-repeat;
    background-size: 100%;
}

.entryBtn:nth-child(3){
    background: url(project_img/0-3.jpg) center center no-repeat;
    background-position: 50% 28%;
    background-size: 100%;
    
}

.entryBtn:hover::before {
    cursor: pointer;
    opacity: .2;
}

.entryBtn:nth-child(1):hover::before {
    cursor: pointer;
    opacity: .3;
}

#Ar2 {
    left: 100%;
}

table {
    border-collapse: collapse;
    border: 3px solid grey;
}

th {
    border: 3px solid grey;
}

th:first-child {
    width: 200px;
}

td:first-child {
    width: 200px;
}

td {
    border: 1px solid grey;
}

biography {
    position: relative;
    top: 0;
    width: 100%;
}

.nameOfBiography {
    position: relative;
    width: 100%;
    min-height: 90px;
    background: #fff;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nameOfBiography span{
    font-size: 3.1vw;
    font-weight: 700;
}

.biographyWindows {
    width: Calc(100% - 40px);
    border-radius: 16px;
    color: #333;
}

.paragraph {
    width: 100%;
    border-radius: 16px;
    background: #fff;
    padding: 1px 20px;
    margin: 30px 0;
}

.paragraph h3 {
    font-size: 2.1vw;
    font-weight: 550;
    margin: 10px 0 0;
}

.paragraph p{
    font-size: 1.25vw;
}

.biographyImageContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.biographyImageBlock {
    position: relative;
    max-width: 100%;
    height: 550px;
    border-radius: 16px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#Ar3 {
    left: 100%;
}

#Ar4 {
    left: 100%;
}