.progresbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #333;
    z-index: 4;
}

.currentprogres {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 4px;
    background: #235eff;
    z-index: 5;
    transition: transform .5s linear;
}

BODY {
    background:#666;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

ARTICLE {
    position: fixed;
    top: 4px;
    background: #333;
    width: 96%;
    bottom: 0;
    padding: 2%;
    transition: transform .5s linear;
    overflow: auto;
}

.btnPageBlock {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    user-select: none;
}

.btnPageBlock span {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.btnPagePrev {
    position: absolute;
    top: 0;
    left: 20%;
    width: 10rem;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
}

.btnPagePrevAdd {
    position: absolute;
    top: 0;
    left: 20%;
    width: 10rem;
    height: 45px;
    background: #e3e3e3;
    border-radius: 8px;
    transition: left .2s linear;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.btnPagePrev:hover ~ .btnPagePrevAdd{
    left: Calc(20% - 40px);
    cursor: pointer;
}

.btnPagePrevAdd span {
    position: relative;
    top: -3px;
    left: 6px;
    font-size: 48px;
}

.btnPageNext {
    position: absolute;
    top: 0;
    right: 20%;
    width: 10rem;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
}

.btnPageNextAdd {
    position: absolute;
    top: 0;
    right: 20%;
    width: 10rem;
    height: 45px;
    background: #e3e3e3;
    border-radius: 8px;
    transition: right .2s linear;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.btnPageNext:hover ~ .btnPageNextAdd{
    right: Calc(20% - 40px);
    cursor: pointer;
}

.btnPageNextAdd span {
    position: relative;
    top: -3px;
    right: 6px;
    font-size: 48px;
}

#Ar1 {
    left: 0%;
}

.flexBox {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entryName {
    position: relative;
    width: 100%;
    min-height: 90px;
    background: #fff;
    margin: 0 0 20px 0;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryName span {
    font-family: 'Lobster', cursive;
    font-size: 3.3vw;
}

.entryBtns {
    position: relative;
    width: 100%;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryBtnsBlock {
    position: relative;
    max-width: 1100px;
    width: 100%;
    height: 640px;
}

.entryBtns span {
    position: relative;
    font-size: 80px;
    font-weight: 900;
    color: #333;
    filter: none;
}

.entryBtn {
    position: relative;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.entryBtn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.5;
    transition: opacity .3s;
}

.entryBtn:nth-child(1){
    background: url(images/Entry/1.jpg) center center no-repeat;
    background-position: 50% 26%;
    background-size: 100%;
    
}

.entryBtn:nth-child(2){
    background: url(images/Entry/2.jpg) center center no-repeat;
    background-size: 100%;
}

.entryBtn:nth-child(3){
    background: url(images/Entry/3.jpg) center center no-repeat;
    background-position: 50% 28%;
    background-size: 100%;
    
}

.entryBtn:hover::before {
    cursor: pointer;
    opacity: .2;
}

.entryBtn:nth-child(1):hover::before {
    cursor: pointer;
    opacity: .3;
}

#Ar2 {
    left: 100%;
}

biography {
    position: relative;
    top: 0;
    width: 100%;
}

.nameOfBiography {
    position: relative;
    width: 100%;
    min-height: 90px;
    background: #fff;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameOfBiography span{
    font-size: 3.1vw;
    font-weight: 700;
}

.biographyWindows {
    width: Calc(100% - 40px);
    border-radius: 16px;
    color: #333;
}

.paragraph {
    width: 100%;
    border-radius: 16px;
    background: #fff;
    padding: 1px 20px;
    margin: 30px 0;
}

.paragraph h3 {
    font-size: 2.1vw;
    font-weight: 550;
    margin: 10px 0 0;
}

.paragraph p{
    font-size: 1.25vw;
}

.biographyImageContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.biographyImageBlock {
    position: relative;
    max-width: 100%;
    height: 550px;
    border-radius: 16px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Ar3 {
    left: 100%;
    padding: 0 0 2% 0;
    width: 100%;
}

.section {
    width: 100%;
    margin: 20px 0 40px 0;
}

.sectionWindow {
    position: relative;
    left: 2%;
    width: 96%;
    max-height: 1012px;
    overflow: hidden;
    transition-property: max-height;
    transition-timing-function: linear;
    transition-duration: .5s;
}

.nameOfSection {
    position: relative;
    left: 2%;
    width: 96%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 5px 5px grey;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameOfSection:first-child {
    margin-top: 0;
}

.nameOfSection span{
    font-size: 3.1vw;
    font-weight: 700;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 506px;
}

.imageBlock {
    position: absolute;
    width: 30%;
    height: Calc(100% - 20px);
    border-radius: 16px;
    background: #e3e3e3;
}

.imageBlock:nth-child(2) {
    left: 35%;
}

.imageBlock:nth-child(3) {
    left: 70%;
}

.image {
    width: 100%;
    height: 430px;
    border-radius: 16px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.imageName {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.imageName span {
    margin: 0 6px;
    font-weight: 550;
    font-size: 1.25vw;
}

.moreBtnBlock {
    position: relative;
    left: 2%;
    width: 96%;
    height: 45px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.morebtn {
    width: 40%;
    height: 45px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.moreBtnBlock:hover {
    cursor: pointer;
}

.morebtn:hover ~ .morebtnAddR {
    right: 0;
}

.morebtn:hover ~ .morebtnAddL {
    left: 0;
}

.morebtnAddL {
    position: absolute;
    top: 0;
    left: 30%;
    width: 36%;
    height: 45px;
    border-radius: 8px;
    transition: left .2s linear;
    background: #e3e3e3;
    z-index: 2;
}

.morebtnAddR {
    position: absolute;
    top: 0;
    right: 30%;
    width: 36%;
    height: 45px;
    border-radius: 8px;
    transition: right .2s linear;
    background: #e3e3e3;
    z-index: 2;
}

.morebtn span {
    font-size: 18px;
    font-weight: bold;
}
/* ---------------------------------- */
#Ar4 {
    left: 100%;
    width: 100%;
    height: Calc((100% - 4px) * 2);
    padding: 0;
    overflow: hidden;
}

.questionBody {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background: #333;
    transition: transform .5s linear;
}

.question {
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
}

.question > span {
    font-weight: bold;
    font-size: 2.3vw;
}

.attrQuestion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
}

.numQuestion {
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 10rem;
    height: 3.5rem;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attrQuestion span {
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
    transition: color .1s linear;
}

.gradient {
    position: absolute;
    top: 0;
    left: Calc(10rem + 79px);
    width: 200px;
    height: 3.5rem;
    background: linear-gradient(to right, #333, #fff);
}

.invertGradient {
    position: absolute;
    top: 0;
    right: Calc(10rem + 79px);
    width: 150px;
    height: 3.5rem;
    background: linear-gradient(to left, #333, #fff);
}

.toFinish {
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
    width: 10rem;
    height: 3.5rem;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toFinish:hover span {
    color: #235eff;
}

.answers {
    position: relative;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: #333;
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 10px 0;
}

td {
    width: 50%;
}

.answer {
    background: #fff;
    margin: auto;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 14px;
    min-width: 180px;
    transition: background .1s linear;
}

.answer:hover {
    background: #235eff;
}

.answer:hover h4 {
    color: #fff;
}

.answer h4 {
    margin: 3% 0;
    color: #333;
    transition: color .1s linear;
    font-size: 1.3vw;
}

[class*="statistics"]{
    overflow: auto;
}

.addBlock {
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statBlock {
    position: relative;
    top: 1%;
    min-height: 98%;
    width: 96%;
    margin-bottom: 1%;
    background: #e3e3e3;
    max-width: 570px;
    border-radius: 8px;
}

.statName {
    position: relative;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    color: #333;
}

.statName span {
    font-weight: bold;
    font-size: 1.8vw;
}

.statQuestionBlock {
    position: relative;
    width: 96%;
    height: 40px;
    margin: 6px auto;
    border-radius: 8px;
    background: #36ff45;
    overflow: hidden;
    transition: height .2s linear;
}

.statQuestionBlock span {
    font-size: 1.15vw;
}

.statCorrectAnswer {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #ffc017;
    display: flex;
}

.statQuestion {
    padding: 0 0 0 2%;
    text-align: left;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.statAnswerBlock {
    padding: 0 2% 0 0;
    text-align: right;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.statIncorrectAnswer {
    width: 96%;
    height: 40px;
    padding: 0 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}